@import './Common/Base_list/base';


.main__slide_box {
  position: relative;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.main__main_slide_rating_box {
  position: relative;
}

.main__main_slide_rating_color {
  position: absolute;
  left: 0;
  top: 2px;
  overflow: hidden;
  // color: red;
}

.main__main_slide_rating_dim {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.main__slide_dim {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .5);
}

.main__slide_col_box {
  &.left {
    padding: 80px;
  }

  &.right {
    padding-left: 20px;
  }
}

.main__main_slide_picture_box {
  position: relative;
  margin-top: 20px;
  // position: absolute;
  // top: 50%;
  // transform: translateY(-50%);
  // right: 100px;
  height: 500px;
  width: 350px;
}

.main__main_slide_readmore_box {
  display: inline-block;
  margin-top: 10px;
}

.main__main_slide_readmore_an {
  display: inline-block;
  padding: 13px 25px;
  border-radius: 5px;
  background: rgb(255, 145, 0);

  @include fontMixin(#fff, 18px) {
    font-weight: bold;
  }

  &:hover {
    opacity: 0.9;
    color: #fff;
  }
}

.main__main_slide_picture_img {
  width: 100%;
  height: 100%;
}

.main__main_slide_info_box {
  // position: absolute;
  // left: 100px;
  // top: 50%;
  // transform: translateY(-50%);
  // border: 1px solid red;
}

.main__main_slide_title {
  @include fontMixin(#fff, 80px) {
    font-weight: bold;
  }
}
 
.main__main_slide_sub_info {
  margin-top: 50px;
  width: 80%;

  @include fontMixin(rgb(163, 163, 163), 19px) {
    font-weight: 500;
  }
}

.main__main_slide_rating {
  color: rgb(233, 233, 233);
}
.main__main_slide_button {
  @include positionAbsCenter;
  @include fontMixin(#fff, 55px);
  z-index: 999;
  cursor: pointer;
  &.prev{
    left: 0;
  }
  &.next{
    right: 0;
  }
}

.main__poster_row {
  @include floatClear;
  margin-bottom: 40px;
}

.main__poster_img {
  width: 100%;
}

.main__category_title {
  font-size: 22px;
}

.main__poster_box_an {
  color: #333;

  &:hover {
    color: #333;
  }
}

.main__poster_box {
  float: left;
  width: 300px;
  padding: 15px;
  margin: 20px 15px;
  transition: .5s;
  border: 1px solid #ececec;

  &:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
    transform: scale(1.05);
  }
}
.main__poster_button{
  @include positionAbsCenter;
  @include fontMixin(#777, 32px);
  text-shadow: 1px 1px #fff;
  z-index: 999;
  cursor: pointer;
  &.prev{
    left: 0;
  }
  &.next{
    right: 0;
  }
}