@import '../../Common/Base_list/base';

.detail__slide_box {

  // border: 1px solid red;
  // padding: 10px;
  &:hover {
    // border: 1px solid orange;
    // transform: scale(1.1);
  }
}
.detail__slide_box_img {
  width: 50px;
}

.detail__slide_box_an {
  transition: .2s;

  &:hover {
    transform: scale(1.5);
  }
}
.detail__movie_poster{
  display: block;
  margin: 0 auto;
}
.detail__movie_title{
  font-size: 28px;
  font-weight: bold;
}
.detail__movie_year{
  font-size: 18px;
}

.detail__movie_info{
  font-size: 15px;
  line-height: 1.8
}
.detail__info_title{
  font-weight: bold;
}
.detail__movie_summary{
  line-height: 1.5;
}

.detail__slide {
  .slick-list {
    padding: 20px;
  }
 
}
 
.detail__slide_box_an {
  display: inline-block;
}

.comment{
  margin-top: 100px;
  margin-bottom: 100px;  
}
.detail__comment_title{
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 15px;
  border-bottom: 2px solid #ececec;
  margin-bottom: 30px;
}

.comment__list{
  padding: 10px 0;
  border: {
    top: 1px solid #ececec;
    left: 1px solid #ececec;
    right: 1px solid #ececec;
  }
  &:last-of-type{
    border-bottom: 1px solid #ececec;
  }
  @include floatClear;
}
.detail__comment{
  &_author{
    font-weight: bold;
  }
}

.detail__login_box {
  padding: 15px;

  &.unLogin {
    text-align: center;
    font-size: 18px; 
    background: rgba(0,0,0,.1);
  } 
}
