@import './../../Common/Base_list/base';

.signup__box{
  margin-top: 200px;
  width: 450px;
}
.singup__title{
  margin: 50px 0 70px;
  font-size: 33px;
  font-weight: bold;
}
.botton__box{
  margin-top: 50px;
}