<footer class="container base__footer">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <p>BPEAR MAG put emphasis on communities and communications and carry sensitive stories revolving around
        subculture with underground, street, and life style.
      </p>
      <p>© BPEARMAG. All rights reserved</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="connect box">
        <div class="connect__sns_list github">
          <i class="fab fa-github"></i>
        </div>
        <div class="connect__sns_list email">
          <i class="fas fa-envelope"></i>
        </div>
        <div class="connect__sns_list kakao">
          <i class="fas fa-comment-dots"></i>
        </div>
        <div class="connect__sns_list twitter">
          <i class="fab fa-twitter"></i>
        </div>
      </div>
    </div>
  </div>
</footer>